/* CSS Document */

:root {
  --hell: #e6ebf9;
  --mittel: #a88bb4;
  --dunkel: #5a5763;
  --blue: #426aec;
  --indigo: #5c27f4;
  --purple: #4e1c64;
  --pink: #d63384;
  --red: #ca0e0e;
  --orange: #fd7e14;
  --yellow: #f0c618;
  --yellow-transp: rgba(229, 221, 184, 0.2);
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --hell-grau: #e8e8eb;
  --grau: #656673;
  --dunkel-grau: #434448;
  --primary: #0b5993;
  --secondary: #6c6d7d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
